<?xml version="1.0" encoding="utf-8" ?>
<Configuation status="WARN">
    <Properties>
        <Property name="default-logging-pattern">[%d{yyy-MM-dd'T'HH:mm:ss.SSS Z}] %-5level %t [%C:%M:%L] - %msg%n</Property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${default-logging-pattern}"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="info">
            <appender-ref ref="console"/>
        </Root>
    </Loggers>
</Configuation>